<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Points Display Board | GUDLFT Registration</title>
</head>
    {% if session.club_email %}
    <a href="{{ url_for('showSummary') }}">Back to summary</a>
    <br> <a href="{{ url_for('logout') }}">Logout</a> <br>
    {% else %}
    <a href="{{ url_for('index') }}">Previous</a>
    {% endif %}
<body>
    <h1>Points Display Board | GUDLFT Registration</h1>
    <table>
        <thead>
            <tr>
                <th>Club Name</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            {% for club in clubs %}
            <tr>
                <td>{{ club['name'] }}</td>
                <td>{{ club['points'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <div>
                {% with messages = get_flashed_messages()%}
        {% if messages %}
           {% for message in messages %}
                {{message}}
            {% endfor %}
        {% endif %}
    {% endwith %}
        </div>
    </table>

</body>

</html>